## Solution to Question One

In [4]:
bottledWater = '15 Packs'
suiteCases = 5
golfKit = 1
golfClubs = 30

## Solution to Question Two

#### Problem A

### vehicleSpeed  =  45kph

The variable above will return a syntax error because the value contains two different object types of integer and string.
We can solve this problem by either wrapping the value in quotes
so that python treats it as a string or we break the variable into 
two. one will be integer the other will be string to hold the unit.
This way we can then use string formating to print out the values
or we convert the integer to string at the point of printing then
concatenate the unit which is in string already with it.

### THE SOLUTION MIGHT LOOK LIKE EITHER OF THIS:

#### vehicleSpeed = '45kph'
#### print(vehicleSpeed)
### OR
#### vehicleSpeed = 45
#### speedUnit = 'kph'
#### print(f'{vehicleSpeed}{speedUnit}') or print(str(vehicleSpeed) + speedUnit)

#### Problem B

### studentWeight = 85 kg

The code above has two problems, first is that the value has white space inbetween the measurement and the unit. This syntax is not acceptable in python. Second problem is that, if we remove the white space we will still arrive at the problem with problem A because that will mean we are trying to marry two objects of entirely different types of string and integer together which is also an invalid syntax in python.
We can solve this problem by removing the whitespace first and then applying the solution of problem A to it. If however not important to the problem our code is trying to solve, we can entirely remove the unit.

#### Problem C

### happiness Rating = ‘Very Happy’

The variable name has a white space hence the syntax will be invalid since python does not allow such practices.
A quick fix is to remove the white space, this way the variable name will follow the camel case syntax of python variable naming.

#### Problem D

### count, subcount = 95

The block of code above wants to assign values to multiple variables at the same time. However, the number of variables is not equal to the number of specified values hence python throws an error.
A quick fix will be to add an additional value to the one specified separated by a coma or delete one of the specified variables together with the coma separating them.

## Solution to Question Three

### Part A - Variables

In [ ]:
# This solution employed the use of dictionaries
studentOne = {
    'name' : 'Rowland Brooks',
    'age'  : 30,
    'mStatus' : 'Single',
    'numberOfChildren' : 4
}
studentTwo = {
    'name' : 'Tambe Bwali',
    'age'  : 27,
    'mStatus' : 'Married',
    'numberOfChildren' : 6
}
studentThree = {
    'name' : 'Bitrus Yagi',
    'age'  : 40,
    'mStatus' : 'Married',
    'numberOfChildren' : 2
}
studentFour = {
    'name' : 'Kofi Kwame',
    'age'  : 51,
    'mStatus' : 'Single',
    'numberOfChildren' : 7
}
studentFive = {
    'name' : 'Butuwase Nglesi',
    'age'  : 38,
    'mStatus' : 'Single',
    'numberOfChildren' : 0
}
studentSix = {
    'name' : 'Peter Okafor',
    'age'  : 33,
    'mStatus' : 'Married',
    'numberOfChildren' : 3
}
studentSeven = {
    'name' : 'Adebo Babalaki',
    'age'  : 51,
    'mStatus' : 'Divorced',
    'numberOfChildren' : 9
}

### Part B - Lists

In [5]:
studentNames = ['Rowland Brooks', 'Tambe Bwali', 'Bitrus Yagi',
                'Kofi Kwame', 'Butuwase Nglesi',
               'Peter Okafor', 'Adebo Babalaki']
studentAges = [30, 27, 40, 51, 38, 33, 51]
studentMStatus = ['Single','Married', 'Married','Single',
                  'Single', 'Married', 'Divorced']
numberOfChildren = [4, 6, 2, 7, 0, 3, 9]

## Solution to Question Four

In [12]:
# Mandel's total income
salary = 12000
moneyOwedMandel = 2500
totalIncome = salary + moneyOwedMandel

# Mandel's total expenditure
debtToNgelesi = 300
debtToBelinda = 500
unpaidBills = 3000
totalDebt = debtToNgelesi + debtToBelinda + unpaidBills
savings = (50/100) * salary
totalExpenditure = totalDebt + savings

# Mandel's balance
balanceWithMandel = totalIncome - totalExpenditure
print(f'{balanceWithMandel}' + " " + 'Pesos')

4700.0 Pesos